module.exports = {
  discourse: {
    host: 'https://meta.discoursecn.org',
    api_key: '*',
    api_username: '*'
  },
  data: {
    root: './data' // local storage path for discourse-export output and quip-import input
  },
  quip: {
    host: 'https://platform.quip.com',
    accessToken: '*',
    root: 'bbs',
    parent_id: '*'

  }
}
